.controls(v-if='false')
  .controls__item._tablet
    a.controls__button._user(
      :href='userLink'
      data-container='.page__header'
      data-toggle='popover'
      data-placement='bottom'
      data-content-selector='#user'
      ref='userPopover')
  .controls__item
    a.controls__button._search(:href='searchLink' @click='searchClick')
    .controls__search(:class='{_active: searchFormVisible}' ref='searchForm')
      form.search
        input.search__control(type='search' :placeholder='searchLabel')
