.header__menu
  ul.nav.nav-justified
    li.nav-item(v-for='(menuItem, index) in menuItems')
      router-link.nav-link.js-submenu-position-item(:to="{name:menuItem.view}" :class="{'active':menuItem.selected}") {{menuItem.name}}
