.header(data-group='menu')
  .header__overlay(data-group='menu')
  .header__container.container
    .header__top
      a.header__button(:href='headerButtonLink' data-group='menu' @click='mobileMenuClick')
      a.header__logo-outer(:href='headerLogoLink')
        Img(:url='logoUrl' alt='').header__logo
      .header__organizers
        Organizers
      .header__controls
        Controls
    .header__bottom
      header-menu
  .header__mobile-menu(data-group='menu' :class='{_active: mobileMenuVisible}' ref='mobileMenu')
    mobile-menu
//reviewed
