.mobile-menu__controls
  .mobile-nav
    .mobile-nav__item(
      v-for='(menuItem, index) in menuItems')
      a.mobile-nav__link(href="javascript:void(0);"
        :data-toggle='menuItem.toggle'
        :data-target='menuItem.target') {{menuItem.name}}
//reviewed
