.mobile-menu__nav
  .mobile-nav
    .mobile-nav__item(
      v-for='(menuItem, menuIndex) in menuItems'
      :data-not-hide-outside='menuItem.subMenu && menuItem.subMenu.length ? "" : null'
      :data-open-class='menuItem.subMenu && menuItem.subMenu.length ?  "_open" : false'
      :class='{"_active": menuItem.selected, "_submenu": menuItem.subMenu && menuItem.subMenu.length}')
      template(v-if='menuItem.subMenu && menuItem.subMenu.length')
        a.mobile-nav__link(href='javascript:void(0);'
          @click='openMobileSubmenu(menuIndex)') {{menuItem.name}}
        .mobile-nav__submenu(
              v-if='menuItem.subMenu && menuItem.subMenu.length'
              :class='{_active: mobileSubmenuOpened === menuIndex}'
              :dataid='menuIndex')
          .mobile-nav__submenu-item(v-for='(subMenuItem, subMenuIndex) in menuItem.subMenu')
            router-link.mobile-nav__submenu-link(v-if="!subMenuItem.hidden" :to="{name:subMenuItem.view}"
              :class='{_active: subMenuItem.selected}') {{subMenuItem.name}}
      router-link.mobile-nav__link(:to="{name:menuItem.view}" v-else) {{menuItem.name}}
//reviewed
