.categories
  .categories__list
    .categories__item(v-for='(category, categoryName) in categories' data-group='category' data-not-hide-outside=1 :class='{_active: selectedCategory === categoryName}')
      .categories__button-block(@click='categoryClick' :data-id='categoryName')
        a.categories__button(href='javascript:void(0);' data-group='category' :class='{_active: selectedCategory === categoryName}' :data-id='categoryName')
          span.categories__caption(:data-id='categoryName') {{category.name}}
      .categories__dropdown(data-group='category' :class='{_active: selectedCategory === categoryName}' :dataid='categoryName')
        .categories-dropdown
          .categories-dropdown__years(:class='{"_mobile": categoryName === "yearCategory"}')
            .years
              .years__item(v-for='item in categories.yearCategory.items')
                router-link.years__link(:to='getYearLink(item)' :data-id='item' :class='{"_active": item == selectedYear}' v-if='categoryName === "yearCategory"') {{item}}
                a.years__link(href='javascript:void(0);' @click='yearSelected(item)' :class='{"_active": item == selectedYear}' v-else) {{item}}
          .categories-dropdown__block-list(v-if='categoryName !== "yearCategory"')
            loading(v-if="dataLoading")
            .categories-dropdown__block(v-for='(categoriesBlock, index) in category.categoriesBlocks' v-else)
              .categories-block(
                  :class='(categoriesBlock.mods?categoriesBlock.mods:[]).concat(categoriesBlock.mobileToggle ? "_mobile-toggle" : "")'
                  data-not-hide-outside=1)
                .categories-block__title(
                  v-if='categoriesBlock.title'
                  :class='{"_active": categoriesBlock.mobileToggle && categoriesBlockVisible===index}'
                  @click='categoriesBlockClick' :data-id='index') {{categoriesBlock.title}}
                .categories-block__list(
                  :class='{"_active": categoriesBlock.mobileToggle && categoriesBlockVisible===index}'
                  :dataid='index')
                  .categories-block__item(v-for='item in categoriesBlock.items')
                    router-link.categories-block__link(:to='getCategoryLink(categoriesBlock.id, item)' @click.native='categorySelected' :data-name='categoriesBlock.id' :data-value='item')
                      span.categories-block__caption {{item.name}}
