.reports
  .reports__container.container
    .reports__header(data-group='categories')
      .reports__heading
        .reports__title {{title}}
        .reports__views
          .views
            .views__item
              router-link.views__button._tiles(:to='getViewLink(views[0])' :class='{"_active": type==="tiles"}')
            .views__item
              router-link.views__button._stripes(:to='getViewLink(views[1])' :class='{"_active": type!="tiles"}')
        .reports__pagination
          ul.pagination.pagination-self.justify-content-end
            li.page-item(v-for='index in numberOfPages' :class='{active: index == selectedPage}')
              router-link.page-link(:to='getPageLink(index)') {{index}}
        .reports__button-block
          a.reports__button(href='javascript:void(0);' data-group='categories' @click="mobileCategoriesClick")
      .reports__categories(data-group='categories' :class='{_active: mobileCategoriesVisible}' ref='categoriesBlock')
          categories(:year='year')
    loading(v-if="dataLoading")
    template(v-if="!dataLoading")
      .reports__list
        .reports-tiles(v-if='type==="tiles"')
          .reports-tiles__item(v-for='report in reports')
            a.reports-tiles__link(href='javascript:void(0);' data-toggle='modal' data-target='#report' @click='selectReport(report)')
              .reports-tiles__image-block
                Img(v-if='report.image' :url='report.image' :alt='report.title').reports-tiles__image
              .reports-tiles__title {{report.title}}
              .reports-tiles__rewards(v-if='report.rewards')
                rewards(:rewards='report.rewards')
        .reports-list(v-else)
          .reports-list__item(v-for='report in reports')
            .reports-list__inner
              a.reports-list__image-block(href='javascript:void(0);')
                Img(v-if='report.image' :url='report.image' :alt='report.title').reports-list__image
              .reports-list__content
                .reports-list__title
                  a.reports-list__title-link(href='javascript:void(0);') {{report.title}}
                .reports-list__link-block
                  a.reports-list__link(v-if='report.companyLink' :href='report.companyLink.link') {{report.companyLink.link}}
                .reports-list__text(v-html='report.text')
                .reports-list__footer
                  .reports-list__button
                    a.btn.btn-outline-secondary.btn-sm.btn-block._mobile-rewards(
                      href='javascript:void(0);'
                      data-toggle='modal'
                      @click='selectReport(report)'
                      data-target='#report' ref='reportModal') {{detailsLabel}}
                  .reports-list__info
                    .reports-list__documents
                      documents(:documents='report.documents')
                    .reports-list__rewards(v-if='report.rewards')
                      rewards(:rewards='report.rewards')
      .reports__footer
        ul.pagination.pagination-self.justify-content-end
          li.page-item(v-for='index in numberOfPages' :class='{active: index == selectedPage}')
            router-link.page-link(:to='getPageLink(index)') {{index}}
  modal-report(:report='selectedReport')
