@mixin ps-letter-spacing($letter-spacing) {
  letter-spacing: ($letter-spacing / 1000) + em;
}

@mixin a-reset($text-decoration: none, $color: inherit) {
  &,
  &:hover {
    text-decoration: $text-decoration;
    color: $color;
  }
}

@function rem($pixels, $context: 16) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}
