.accordion {
  &__item {
    border-bottom: 1px solid #acacac;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__title {
    @include a-reset(none, $blue);
    font-size: 20px;
    line-height: 20px;
    display: block;
    padding: 22px 0;
    text-transform: uppercase;
  }

  &__content {

  }

  &__documents {
    padding-bottom: 22px;
  }



  // tablet
  @include media-breakpoint-up(sm) {
    &__item {
      padding-left: 132px;
    }

    &__title {
      font-size: 30px;
      line-height: 30px;
      padding: 29px 0;
    }

    &__documents {
      padding-bottom: 29px;
    }



    // structure mod
    &._structure &__item {
      padding-left: 0;
    }
  }



  // desktop
  @include media-breakpoint-up(md) {
    &__item {
      padding-left: 169px;
    }
  }
}
