.archive {
  &__title {
    line-height: 28px;
    font-size: 28px;
    font-weight: 700;
    color: $black;
  }

  &__list {
    margin-left: 0;
    margin-top: 22px;
  }

  &__item {
    margin-bottom: 17px;
    font-size: 14px;
    line-height: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    @include a-reset;
  }

  &__divider {
    border-bottom: 1px solid #acacac;
    margin: 23px 0;
  }



  // tablet
  @include media-breakpoint-up(sm) {
    &__title {
      font-size: 36px;
      line-height: 36px;
    }

    &__list {
      margin-left: 132px;
      margin-top: 35px;
    }
  }



  // desktop
  @include media-breakpoint-up(md) {
    &__list {
      margin-left: 169px;
    }
  }
}
