.banner {
  position: relative;
  padding-top: 80px;

  &__background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 480px;
    z-index: -1;
    background-attachment: fixed;
  }

  &__container {

  }

  &__submenu {
    display: none;
  }



  // tablet
  @include media-breakpoint-up(sm) {
    padding-top: 16px;

    &__submenu {
      display: block;
    }
  }
}
