.captcha {
  &__title {
    font-size: 14px;
    line-height: 18px;
  }

  &__image-block {
    margin-top: 20px;
  }

  &__image {
    display: block;
  }

  &__input {
    max-width: 216px;
    margin-top: 8px;
  }
}
