.categories-block {
  &__title {
    font-size: 20px;
    line-height: 18px;
    text-transform: uppercase;
    color: $blue;
    margin-bottom: 22px;
    position: relative;
  }

  &__list {

  }

  &__item {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 19px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    @include a-reset;
  }

  &__caption {

  }



  // name mod
  &._name {
    counter-reset: list;
  }

  &._name &__link {
    position: relative;
    padding-left: 34px;
    display: inline-block;

    &::before {
      counter-increment: list;
      content: counter(list);
      max-width: 34px;
      padding-right: 4px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }



  // mobile toggle mod
  &._mobile-toggle &__list {
    display: none;
    animation: fadeIn .5s;

    &._active {
      display: block;
    }
  }

  &._mobile-toggle &__title {
    cursor: pointer;

    &::after {
      @include retina-sprite($arrow-down-group);
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto 0;
      transition: .3s transform;
    }

    &._active::after {
      transform: rotate(180deg);
    }
  }



  // tablet
  @include media-breakpoint-up(sm) {
    &__title {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 8px;
    }

    &__item {
      margin-bottom: 12px;
    }



    // name mod
    &._name {
      column-count: 2;
      column-gap: 16px;
    }



    // mobile toggle mod
    &._mobile-toggle &__list {
      display: block;
    }

    &._mobile-toggle &__title {
      cursor: default;

      &::after {
        display: none;
      }
    }
  }
}
