.categories-dropdown {
  padding: 18px 15px;
  background-color: #f6f6f6;

  &__years {
    display: none;

    &._mobile {
      display: block;
    }
  }

  &__block-list {

  }

  &__block {
    margin-bottom: 36px;

    &:last-child {
      margin-bottom: 0;
    }
  }



  // tablet
  @include media-breakpoint-up(sm) {
    background-color: white;
    border: 1px solid #cacaca;
    box-shadow: 3px 4px 8px 0 rgba(0, 0, 2, 0.1);
    padding: 26px 37px;

    &__years {
      display: block;
    }

    &__block-list {
      margin-top: 54px;
    }
  }
}
