.categories {
  background-color: white;
  border: 1px solid #cacaca;
  box-shadow: 3px 4px 8px 0 rgba(0, 0, 2, 0.1);

  &__list {

  }

  &__item {
    border-bottom: 1px solid #d7d7d7;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__button-block {

  }

  &__button {
    @include a-reset;
    position: relative;
    display: block;
    padding: 11px 15px;
    padding-right: 45px;

    &::after {
      @include retina-sprite($arrow-down-group);
      content: '';
      position: absolute;
      right: 15px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      transition: .3s transform;
    }

    &._active::after {
      transform: rotate(180deg);
    }
  }

  &__caption {

  }

  &__dropdown {
    display: none;
    border-top: 1px solid #d7d7d7;
  }



  // item active state
  &__item._active &__button-block {

  }

  &__item._active &__button {

  }

  &__dropdown._active {
    display: block;
    animation: fadeIn .5s;
  }



  // tablet
  @include media-breakpoint-up(sm) {
    background-color: transparent;
    border: 0;
    box-shadow: none;

    &__list {
      display: flex;
      position: relative;
    }

    &__item {
      margin-left: -25px;
      border-bottom: 0;

      &:first-child {
        margin-left: 0;
      }
    }

    &__button-block {
      position: relative;
    }

    &__button {
      font-size: 18px;
      display: flex;
      align-items: center;
      padding: 16px 36px 21px;
      border: 1px solid transparent;

      &::after {
        display: inline-block;
        margin-left: 12px;
        position: static;
      }
    }

    &__dropdown {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1;
      margin-top: -1px;
      border-top: 0;
    }



    // item active state
    &__item._active &__button-block {
      &::before {
        content: '';
        position: absolute;
        left: 1px;
        right: 1px;
        bottom: 0;
        z-index: 2;
        border-bottom: 1px solid white;
      }
    }

    &__item._active &__button {
      border-color: #cacaca;
      box-shadow: 3px 4px 8px 0 rgba(0, 0, 2, 0.1);
      background-color: white;
    }
  }



  // desktop
  @include media-breakpoint-up(md) {
    &__item {
      margin-left: 0;
    }
  }
}
