.controls {
  display: flex;
  align-items: center;

  &__item {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }

    &._tablet {
      display: none;
    }
  }

  &__button {
    display: block;
    padding: 7px;

    &::after {
      content: '';
      display: block;
      margin: 0 auto;
    }

    &._user::after {
      @include retina-sprite($user-group);
    }

    &._search::after {
      @include retina-sprite($search-group);
    }
  }

  &__search {
    position: absolute;
    top: 0;
    left: -16px;
    right: -16px;
    display: none;

    &._active {
      display: block;
      animation: slideInUp .5s;
    }
  }



  // tablet
  @include media-breakpoint-up(sm) {
    &__item {
      &._tablet {
        display: block;
      }
    }

    &__search {
      top: 37px;
      left: -25px;
      right: -25px;
    }
  }



  // desktop
  @include media-breakpoint-up(md) {
    display: block;

    &__item {
      margin-right: 0;
      position: relative;
    }

    &__search {
      right: 6px;
      top: 100%;
      width: 364px;
      margin-top: -1px;
      left: auto;
    }
  }
}
