.detail-report {
  &__heading {
    display: flex;
    padding: 20px 18px 25px;
    position: relative;
  }

  &__close {
    position: absolute;
    top: 24px;
    right: 18px;
  }

  &__heading-content {
    flex-grow: 1;
  }

  &__title {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
  }

  &__link-block {
    @include text-truncate;
    margin-top: -4px;
  }

  &__link {
    @include a-reset();
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
  }

  &__rewards {
    flex-shrink: 0;

    &._tablet {
      display: none;
    }
  }

  &__slider {
    margin-top: 18px;
  }

  &__content {
    padding: 20px 34px;
  }

  &__info {
    margin-top: 16px;
  }

  &__documents {
    flex-grow: 1;
  }

  &__rating {
    margin-top: 15px;
  }

  &__text {
    margin-top: 26px;
  }



  // tablet
  @include media-breakpoint-up(sm) {
    &__close {
      top: 39px;
      right: 86px
    }

    &__heading {
      display: flex;
      padding: 36px 40px 0;
    }

    &__content {
      padding: 30px 40px 38px;
    }

    &__title {
      @include text-truncate;
      font-size: 30px;
    }

    &__link-block {
      margin-top: 12px;
    }

    &__rewards {
      min-width: 234px;

      &._mobile {
        display: none;
      }

      &._tablet {
        display: block;
      }
    }

    &__info {
      display: flex;
      align-items: flex-end;
      margin-top: 0;
    }

    &__slider {
      margin-top: 45px;
    }

    &__rating {
      margin-bottom: 8px;
    }

    &__text {
      margin-top: 52px;
    }
  }



  // desktop
  @include media-breakpoint-up(md) {
    &__heading {
      padding-left: 84px;
      padding-right: 84px;
    }

    &__content {
      padding-left: 84px;
      padding-right: 84px;
    }

    &__rewards {

    }

    &__rating {
      margin-right: 32px;
    }
  }
}
