.documents-list {
  &__item {
    border-bottom: 1px solid #acacac;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 0;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__link {
    @include a-reset(none, #595a5a);
  }
}
