.footer {
  background-color: #f6f6f6;
  padding: 19px 0;
  color: #888888;

  &__container {

  }

  &__top {
    @include clearfix;
  }

  &__contacts-block {
    margin-top: 30px;
  }

  &__title {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__contacts {
    font-size: 14px;
    line-height: 24px;
    margin-top: 24px;

    p {
      margin: 0;
    }
  }

  &__socials-block {
    margin-top: 32px;
    text-align: center;
  }

  &__socials {
    margin-top: 21px;
  }

  &__bottom {
    @include clearfix;
    margin-top: 40px;
  }

  &__copyright {
    float: left;
    font-size: 14px;
    color: #bdbdbd;
    margin-top: 0;
    line-height: 16px;
    max-width: 180px;
  }

  &__rating-link {
    float: right;
  }

  &__rating {
    display: block;
  }



  // tablet
  @include media-breakpoint-up(sm) {
    padding: 43px 0;

    &__menu {
      display: none;
    }

    &__contacts-block {
      float: left;
      margin-top: 0;
    }

    &__socials-block {
      float: right;
      text-align: left;
      margin-top: 0;
    }

    &__copyright {
      max-width: none;
      margin-top: 16px;
    }

    &__bottom {
      margin-top: 14px;
    }
  }
}
