.footer-menu {
  &__item {
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    @include a-reset;
    display: block;
    font-size: 18px;
    font-weight: 700;
  }
}
