.header {
  background-color: $white;
  position: relative;
  z-index: 2;

  &__container {
    position: relative;
  }

  &__top {
    @include clearfix;
    padding-top: 20px;
    padding-bottom: 16px;
    margin: 0 -3px;
    position: relative;
  }

  &__logo-outer {
    float: left;
    width: 206px;
    margin-left: 6px;
  }

  &__logo {
    display: block;
    max-width: 100%;
  }

  &__controls {
    float: right;
    margin-top: -1px;
    margin-right: 4px;
  }

  &__organizers {
    float: right;
    display: none;
  }

  &__bottom {
    margin-top: 9px;
    display: none;
  }

  &__menu {
    margin-bottom: -8px;
  }

  &__button {
    float: left;
    padding: 8px 7px;
    margin-top: 1px;

    &::after {
      @include retina-sprite($hamburger-group);
      content: '';
      display: block;
    }
  }

  &__mobile-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 11;
    display: none;

    &._active {
      display: block;
      animation: fadeIn .5s;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(#ffffff, 0.8);
    display: none;

    &._active {
      display: block;
      animation: fadeIn .5s;
    }
  }



  // tablet
  @include media-breakpoint-up(sm) {
    border-bottom: 8px solid $black;

    &__top {
      padding-top: 40px;
      padding-bottom: 0;
      margin: 0;
    }

    &__logo-outer {
      width: 307px;
    }

    &__logo {
      margin-top: 16px;
      margin-left: 0;
    }

    &__organizers {
      display: block;
    }

    &__controls {
      margin-right: 27px;
      margin-top: 26px;
    }

    &__bottom {
      display: block;
    }

    &__button {
      display: none;
    }

    &__mobile-menu {
      &._active {
        display: none;
      }
    }

    &__overlay {
      &._active {
        display: none;
      }
    }
  }



  // desktop
  @include media-breakpoint-up(md) {
    &__top {
      padding-top: 46px;
    }

    &__logo-outer {
      width: auto;
    }

    &__logo {
      margin-top: 21px;
    }

    &__controls {
      margin-right: 80px;
      margin-top: 27px;
    }

    &__bottom {
      margin-top: 20px;
    }
  }



  // large desktop
  @include media-breakpoint-up(xl) {
    &__top {
      margin: 0 -130px;
    }

    &__controls {
      margin-right: 135px;
    }
  }
}
