.main {
  &__slider {

  }

  &__reports {
    margin-top: 22px;

    &:last-child {
      margin-bottom: 44px;
    }
  }

  &__second-content {
    &:last-child {
      margin-bottom: 30px;
    }
  }



  // tablet
  @include media-breakpoint-up(sm) {
    &__reports {
      margin-top: 41px;
    }

    &__second-content {
      margin-top: 24px;
    }
  }
}
