.mobile-menu {
  background-color: white;
  padding-top: 8px;

  &__nav {

  }

  &__controls {
    margin-top: 21px;
  }

  &__organizers {
    background-color: #f6f6f6;
    padding: 22px 16px;
    margin-top: 28px;
  }
}
