.mobile-nav {
  &__item {
    font-size: 18px;
    line-height: 18px;
  }

  &__link {
    @include a-reset();
    display: block;
    padding: 11px 19px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      border-left: 8px solid $red;
      display: none;
    }
  }

  &__submenu {
    display: none;

    &._active {
      display: block;
    }
  }

  &__submenu-item {
    font-size: 18px;
    line-height: 18px;
  }

  &__submenu-link {
    @include a-reset(none, #c2c2c2);
    display: block;
    padding: 11px 19px;
    padding-left: 38px;

    &._active {
      color: inherit;
    }
  }



  // item submenu mod
  &__item._submenu &__link {
    padding-right: 45px;

    &::after {
      @include retina-sprite($arrow-down-group);
      content: '';
      position: absolute;
      right: 15px;
      top: 0;
      bottom: 0;
      margin: auto 0;
    }
  }



  // item active state
  &__item._active &__link {
    &::before {
      display: block;
    }
  }



  // item open state
  &__item._open &__submenu {
    display: block;
    animation: fadeIn .5s;
  }
}
