.nominations-table {
  &__title {
    line-height: 28px;
    font-size: 28px;
    font-weight: 700;
    color: $black;
    border-bottom: 8px solid #525252;
    padding-bottom: 34px;
  }

  &__content {

  }


  // tablet
  @include media-breakpoint-up(sm) {
    display: block;

    &__title {
      line-height: 36px;
      font-size: 36px;
      padding-bottom: 30px;
    }
  }
}
