.organizers {
  &__title {
    @include ps-letter-spacing(25);
    font-size: 11px;
    margin-bottom: 7px;
  }

  &__list {
    display: flex;
    align-items: center;
    margin-left: -3px;
  }

  &__item {
    margin-right: 21px;
    height: 34px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__logo {
    display: block;
    max-height: 100%;
  }



  // desktop
  @include media-breakpoint-up(md) {
    &__list {
      margin-left: -7px;
    }

    &__item {
      height: auto;
      margin-right: 27px;
    }

    &__title {
      margin-bottom: 14px;
    }
  }
}
