.reports-tiles {
  position: relative;

  &__item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    @include a-reset;
    display: block;
    box-shadow: 3px 4px 8px 0 rgba(0, 0, 2, 0.1);
    border: 1px solid #cacaca;
    padding: 16px;
    padding-bottom: 50px;
    position: relative;
    height: 100%;
  }

  &__image-block {

  }

  &__image {
    display: block;
    width: 100%;
  }

  &__title {
    margin-top: 9px;
  }

  &__detail {
    position: absolute;
    left: 0;
    right: 0;
    display: none;
    z-index: 1;

    &._active {
      display: block;
      animation: slideInUp .5s;
    }
  }

  &__rewards {
    position: absolute;
    right: 16px;
    bottom: 9px;
  }



  // tablet
  @include media-breakpoint-up(sm) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-bottom: -20px;

    &__item {
      margin-right: 20px;
      width: calc(100% / 2 - 20px);

      &:last-child {
        margin-bottom: 20px;
      }
    }

    &__detail {
      right: 20px;
    }
  }



  // desktop
  @include media-breakpoint-up(md) {
    margin-right: -32px;
    margin-bottom: -32px;

    &__item {
      width: calc(100% / 3 - 32px);
      margin-right: 32px;
      margin-bottom: 32px;

      &:last-child {
        margin-bottom: 32px;
      }
    }

    &__detail {
      right: 32px;
    }
  }
}
