.reports-list {
  position: relative;

  &__item {
    margin-bottom: 20px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__inner {
    box-shadow: 3px 4px 8px 0 rgba(0, 0, 2, 0.1);
    border: 1px solid #cacaca;
    padding: 16px;
  }

  &__image-block {
    @include a-reset;
    flex-shrink: 0;
    margin-right: 0;
  }

  &__image {
    display: block;
    flex-grow: 1;
    max-width: 100%;
  }

  &__content {
    min-width: 0;
    flex-grow: 1;
    margin-top: 12px;
  }

  &__title {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
  }

  &__title-link {
    @include a-reset;
  }

  &__link-block {
    @include text-truncate;
  }

  &__link {
    @include a-reset();
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
  }

  &__text {
    font-size: 14px;
    line-height: 18px;
    color: #898b8c;
    margin-top: 7px;
  }

  &__button {
    width: 118px;
    flex-shrink: 0;
  }

  &__footer {
    margin-top: 21px;
    display: flex;
    justify-content: space-between;
  }

  &__info {

  }

  &__documents {
    margin-bottom: -4px;
    display: none;
  }

  &__rewards {

  }

  &__detail {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    display: none;
    z-index: 1;

    &._active {
      display: block;
      animation: slideInUp .5s;
    }
  }



  // tablet
  @include media-breakpoint-up(sm) {
    &__item {
      margin-bottom: 38px;
    }

    &__inner {
      display: flex;
    }

    &__image-block {
      margin-right: 33px;
    }

    &__title {
      @include text-truncate;
      font-size: 30px;
    }

    &__link-block {
      margin-top: 8px;
    }

    &__text {
      height: 36px;
      overflow: hidden;
      margin-top: 20px;
    }

    &__content {
      margin-top: 19px;
    }

    &__documents {
      display: block;
    }

    &__footer {
      display: block;
      margin-top: 27px;
    }

    &__info {
      margin-top: 24px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }

    &__button {
      max-width: 132px;
      width: auto;
    }

    &__rewards {
      margin-bottom: 3px;
      margin-right: 34px;
    }
  }
}
