.reports {
  &__container {

  }

  &__header {
    position: relative;
    margin: 0 -12px;
  }

  &__heading {
    @include clearfix;
  }

  &__title {
    float: left;
    font-size: 28px;
    margin-left: 12px;
  }

  &__pagination {
    float: right;
    margin-top: 22px;
    margin-right: -6px;
    display: none;
  }

  &__views {
    float: left;
    margin-left: 118px;
    margin-top: 15px;
    display: none;
  }

  &__categories {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: white;
    z-index: 1;
    margin-top: -1px;

    &._active {
      display: block;
      animation: fadeIn .5s;
    }
  }

  &__list {
    margin-top: 20px;
  }

  &__footer {
    margin-top: 24px;
  }

  &__button-block {
    float: right;
    position: relative;
  }

  &__button {
    @include a-reset;
    padding: 15px;
    border: 1px solid transparent;
    display: block;

    &._active {
      border-color: #cacaca;
      box-shadow: 3px 4px 8px 0 rgba(0, 0, 2, 0.1);
      background-color: white;
    }

    &::after {
      @include retina-sprite($settings-group);
      content: '';
      display: block;
    }
  }



  // header active state
  &__header._active &__button-block {
    &::before {
      content: '';
      position: absolute;
      left: 1px;
      right: 1px;
      bottom: 0;
      z-index: 2;
      border-bottom: 1px solid white;
    }
  }



  // tablet
  @include media-breakpoint-up(sm) {
    &__header {
      margin: 0;
    }

    &__categories {
      display: block;
      margin: 0 -37px;
      margin-top: 6px;
      position: static;
    }

    &__pagination {
      display: block;
    }

    &__views {
      display: block;
    }

    &__title {
      font-size: 42px;
      line-height: 48px;
      margin-left: 0;
    }

    &__list {
      margin-top: 10px;
    }

    &__button-block {
      display: none;
    }
  }



  // desktop
  @include media-breakpoint-up(md) {
    &__categories {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
