.rewards {
  display: flex;

  &__item {
    text-align: center;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__icon {
    &::after {
      content: '';
      display: block;
      margin: 0 auto;
    }

    &._bronze::after {
      @include retina-sprite($bronze-group);
    }

    &._silver::after {
      @include retina-sprite($silver-group);
    }

    &._gold::after {
      @include retina-sprite($gold-group);
    }
  }

  &__year {
    font-size: 11px;
    line-height: 1;
    color: #adadad;
    margin-top: 5px;
  }
}
