.search {
  position: relative;

  &::after {
    @include retina-sprite($search-group);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 27px;
    pointer-events: none;
    margin: auto 0;
  }

  &__control {
    display: block;
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    outline: 0;
    padding: 22px 23px;
    border: 0;
  }



  // tablet
  @include media-breakpoint-up(sm) {
    &__control {
      padding-top: 27px;
      padding-bottom: 27px;
      border: 1px solid #acacac;
    }
  }



  // desktop
  @include media-breakpoint-up(md) {
    &::after {
      display: none;
    }

    &__control {
      border: 0;
      border-bottom: 1px solid #acacac;
      font-size: 12px;
      line-height: 14px;
      padding: 4px 0;
    }
  }
}
