.second-content {
  &__container {

  }

  &__inner {
    background-color: white;
    border: 1px solid #cacaca;
    box-shadow: 3px 4px 8px 0 rgba(0, 0, 2, 0.1);
    padding: 38px 20px;
  }

  &__title {
    margin: 0;
    color: black;
    font-weight: 700;
    line-height: 28px;
    font-size: 28px;

    &._underline {
      border-bottom: 8px solid #525252;
      padding-bottom: 34px;
    }
  }

  &__text-block {
    margin-top: 35px;
  }

  &__table-list {

  }

  &__table {
    margin-bottom: 41px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__archive {
    margin-top: 40px;
  }

  &__accordion {
    &._structure {
      margin-top: 16px;
    }
  }

  &__request {
    margin: 35px -20px -38px;
    background-color: #ececec;
    border-top: 1px solid #acacac;
    padding: 35px 20px;
  }



  // tablet
  @include media-breakpoint-up(sm) {
    &__title {
      line-height: 36px;
      font-size: 36px;

      &._underline {
        padding-bottom: 30px;
      }
    }

    &__inner {
      padding: 94px 40px;
    }

    &__text-block {
      margin-top: 45px;
    }

    &__table {
      margin-bottom: 83px;
    }

    &__archive {
      margin-top: 65px;
    }

    &__request {
      margin-left: -40px;
      margin-right: -40px;
      margin-bottom: -94px;
      padding: 32px 40px;
    }
  }



  // desktop
  @include media-breakpoint-up(md) {
    &__inner {
      padding-left: 87px;
      padding-right: 87px;
    }

    &__text-block {
      margin-left: 169px;

      &._wide {
        margin-left: 0;
      }
    }

    &__request {
      margin-left: -87px;
      margin-right: -87px;
      padding-left: 256px;
      padding-right: 174px;
    }
  }
}
