.slider {
  position: relative;

  &__outer {

  }

  &__wrapper {
    height: auto;
  }

  &__slide {
    height: auto;
  }

  &__pagination {
    bottom: 20px;
    left: 0;
    right: 0;
    z-index: 1;

    .swiper-pagination-bullet {
      opacity: 1;
      background: #b3b3b3;
      width: 5px;
      height: 5px;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }

    .swiper-pagination-bullet-active {
      background: $white;
    }
  }

  &__navigation {
    @include a-reset;
    position: absolute;
    bottom: 20px;
    z-index: 1;

    &._prev {
      @include retina-sprite($arrow-left-group);
      left: 20px;
    }

    &._next {
      @include retina-sprite($arrow-right-group);
      right: 20px;
    }
  }



  // gallery mod
  &._gallery {
    background-color: #ececec;
    padding: 16px 20px;
    height: 300px;
    padding-bottom: 100px;
  }

  &._gallery &__outer {
    height: 100%;
  }

  &._gallery &__wrapper {
    height: 100%;
  }

  &._gallery &__slide {
    position: relative;
  }

  &._gallery &__image {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 100%;
  }



  // tablet
  @include media-breakpoint-up(sm) {
    &._gallery {
      padding: 20px 100px;
      height: 380px;
    }

    &__pagination {
      bottom: 15px;
    }

    &__navigation {
      top: 50%;
      margin-top: -30px;
    }
  }


  // desktop
  @include media-breakpoint-up(md) {
    &__pagination {
      bottom: 21px;
    }

    &__navigation {
      &._prev {
        left: 46px;
      }

      &._next {
        right: 46px;
      }
    }



    // gallery mod
    &._gallery {
      height: 558px;
      padding-left: 145px;
      padding-right: 145px;
    }
  }
}
