.slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;

  &__container {

  }

  &__content {
    min-height: 400px;
    display: flex;
    align-items: flex-end;
  }

  &__inner {
    padding-top: 16px;
    padding-bottom: 63px;
    max-width: 800px;
    width: 100%;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }

  &__description {
    font-size: 20px;
    line-height: 26px;
    margin-top: 10px;
  }

  &__button {
    max-width: 440px;
    margin-top: 34px;

    &._tablet {
      display: none;
    }
  }



  // tablet
  @include media-breakpoint-up(sm) {
    &__inner {
      padding: 74px 0;
    }

    &__title {
      font-size: 32px;
      line-height: 40px;
    }

    &__description {
      font-size: 32px;
      line-height: 40px;
      margin-top: 25px;
    }

    &__content {
      min-height: 480px;
    }

    &__button {
      margin-top: 30px;

      &._tablet {
        display: block;
      }

      &._mobile {
        display: none;
      }
    }
  }



  // desktop
  @include media-breakpoint-up(md) {
    &__inner {
      padding: 46px 0;
    }

    &__title {
      font-size: 36px;
      line-height: 48px;
    }

    &__description {
      line-height: 48px;
      margin-top: 25px;
    }

    &__button {
      margin-top: 40px;
    }
  }
}
