.socials {
  display: flex;
  justify-content: center;

  &__item {
    margin-right: 29px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;

    &::after {
      content: '';
      display: block;
    }

    &._twitter::after {
      @include retina-sprite($twitter-group);
    }

    &._facebook::after {
      @include retina-sprite($facebook-group);
    }

    &._instagram::after {
      @include retina-sprite($instagram-group);
    }
  }



  // tablet
  @include media-breakpoint-up(sm) {
    justify-content: flex-end;
  }
}
