.submenu {
  &__item {
    font-size: 18px;
    line-height: 30px;
  }

  &__link {
    @include a-reset(none, #c2c2c2);
    font-weight: 700;
    transition: .5s color;

    &._active,
    &:hover {
      color: white;
    }
  }
}
