.text-block {
  font-size: 14px;
  line-height: 18px;

  &._description {
    line-height: 18px;
  }

  > * {
    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}
