.user-controls {
  &__item {
    border-bottom: 1px solid #acacac;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__link {
    @include a-reset;
    display: block;
    font-size: 12px;
    line-height: 14px;
    padding: 11px 0;
    padding-right: 14px;
  }
}
