.views {
  display: flex;

  &__item {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__button {
    @include a-reset;
    display: block;
    width: 24px;
    height: 25px;
    position: relative;

    &._active {
      cursor: default;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }

    &._tiles::after {
      @include retina-sprite($tiles-group);
    }

    &._tiles._active::after,
    &._tiles:hover::after {
      @include retina-sprite($tiles-active-group);
    }

    &._stripes::after {
      @include retina-sprite($stripes-group);
    }

    &._stripes._active::after,
    &._stripes:hover::after {
      @include retina-sprite($stripes-active-group);
    }
  }
}
