.winners-list {
  &__item {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    padding-left: 32px;
    margin-bottom: 9px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    &::before {
      @include retina-sprite($silver-group);
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      margin-top: -3px;
    }

    &._winner {
      font-weight: 700;
      color: $blue;

      &::before {
        @include retina-sprite($gold-group);
      }
    }
  }



  // without icons mod
  &._without-icons &__item {
    padding-left: 0;

    &::before {
      display: none;
    }
  }



  // tablet
  @include media-breakpoint-up(sm) {
    &__item {
      padding-bottom: 10px;
      margin-bottom: 13px;

      &._winner._separate {
        border-bottom: 1px solid #acacac;
      }
    }
  }
}
