.years {
  &__item {
    margin-bottom: 19px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    text-decoration: underline;

    &:not(._active) {
      @include a-reset;
      color: #9a9a9a;
    }
  }



  // tablet
  @include media-breakpoint-up(sm) {
    display: flex;

    &__item {
      margin-right: 36px;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
