.btn-sm {
  &._mobile-rewards {
    padding-top: rem(8px);
    padding-bottom: rem(8px);
  }
}



// tablet
@include media-breakpoint-up(sm) {
  .btn-sm {
    &._mobile-rewards {
      padding-top: $input-btn-padding-y-sm;
      padding-bottom: $input-btn-padding-y-sm;
    }
  }
}
