.custom-control {
  min-height: 0;

  &._alone {
    margin-right: 0;
  }
}

.custom-control-indicator {
  border: 1px solid #cacaca;
  top: -2px;
}

.custom-control-description {
  a {
    @include a-reset(underline);
    font-size: 12px;
    line-height: 14px;
  }
}
