.modal-content {
  box-shadow: 3px 4px 8px 0 rgba(0, 0, 2, 0.1);
}

.modal-body {
  background-color: #ececec;
  padding: 20px 17px;

  &__form {

  }

  &__content {
    max-width: 670px;
    margin: 0 auto;
  }
}

.modal-title {
  h1,
  .h1 {
    margin-bottom: 0;
  }
}

.modal-header {
  padding: 30px 17px 16px;
}



// tablet
@include media-breakpoint-up(sm) {
  .modal-body {
    padding: 60px 56px 44px;
  }

  .modal-header {
    padding: 94px 56px 35px;
  }
}



// desktop
@include media-breakpoint-up(md) {
  .modal-body {
    padding-left: 60px;
    padding-right: 60px;

    &__content {
      padding-left: 88px;
    }
  }

  .modal-header {
    padding-left: 86px;
    padding-right: 86px;
  }
}
