.nav-link {
  color: inherit;
  font-size: 18px;
  line-height: 18px;
  border-bottom: 8px solid transparent;
  transition: .5s border-bottom-color;

  &:hover {
    color: inherit;
  }

  &.active,
  &:hover {
    border-bottom-color: $red;
  }
}

.nav-justified {
  .nav-item {
    text-align: left;
  }
}
