.table {
  &._fixed {
    table-layout: fixed;
  }

  td,
  th,
  &.table-sm td,
  &.table-sm th {
    padding: 20px;
    padding-right: 0;
    border-top: 0;
    border-bottom: $table-border-width solid $table-border-color;

    &._size1 {
      width: 25px;
    }

    &._size2 {
      width: 175px;
    }

    &._size3 {
      width: 60px;
    }

    &._size4 {
      width: 164px;
    }

    &._icon {
      font-size: 0;
      padding-left: 0;
      text-align: right;
    }

    &._tablet {
      display: none;
    }

    &._footnote {
      padding-left: 0;
    }

    &._name {
      padding-left: 0;
    }

    &._photo {
      padding-left: 0;
      padding-right: 16px;
    }

    &._accordion-last {
      border-bottom: 0;
    }
  }

  thead {
    display: none;

    th {
      color: #959595;
      border-bottom: $table-border-width solid $table-border-color;
      font-size: 14px;
      line-height: 18px;
      padding-top: 12px;
      padding-bottom: 12px;
      font-weight: 400;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 18px;
    color: #595a5a;

    &._subtitle {
      text-transform: uppercase;
    }

    &._footnote {
      color: #959595;
    }

    &._after-title-block {
      margin-top: 10px;
    }

    br {
      display: none;
    }
  }

  &__title {
    text-transform: uppercase;
    color: $blue;
    word-wrap: break-word;

    &,
    &._small {
      font-size: 20px;
      line-height: 20px;
    }

    &._tiny {
      font-size: 14px;
      line-height: 18px;
    }

    &._after-description {
      margin-top: 5px;
    }
  }

  &__icon {
    display: inline-block;

    &._medal,
    &._medal-small {
      @include retina-sprite($medal-small-group);
    }
  }

  &__image {
    display: block;
    border: 1px solid #cbcbcb;
    max-width: 100%;
  }

  &__winners-list {
    &._after-description {
      margin-top: 10px;
    }
  }

  &__nominees {

  }



  // jury mod
  &._jury {
    tbody tr:last-child td {
      padding-bottom: 0;
    }
  }



  // accordion mod
  &._accordion {
    tr:first-child td,
    tr:first-child th {
      border-top: 8px solid #525252;
    }
  }



  // tablet
  @include media-breakpoint-up(sm) {
    td,
    th,
    &.table-sm td,
    &.table-sm th {
      padding: $table-cell-padding;
      padding-right: 0;

      &._size1 {
        width: 102px;
      }

      &._size3 {
        width: 132px;
      }

      &._tablet {
        display: table-cell;
      }

      &._mobile {
        display: none;
      }

      &._photo {
        border-bottom: 0;
        padding: 0;
        padding-right: 32px;
        padding-bottom: 20px;
      }
    }

    &.table-sm {
      th,
      td {
        padding: $table-cell-padding-sm;
        padding-right: 0;
      }
    }

    thead {
      display: table-header-group;
    }

    &__title {
      font-size: 30px;
      line-height: 30px;
    }

    &__icon {
      &._medal {
        @include retina-sprite($medal-group);
      }
    }

    &__description {
      &._mobile {
        display: none;
      }

      br {
        display: inline;
      }
    }

    &__winners-list {
      &._mobile {
        display: none;
      }
    }

    &__nominees {
      &._mobile {
        display: none;
      }
    }



    // accordion mod
    &._accordion {
      tr:first-child td {
        border-top: 0;
      }
    }
  }



  // desktop
  @include media-breakpoint-up(md) {
    td,
    th,
    &.table-sm td,
    &.table-sm th {
      &._size1 {
        width: 139px;
      }

      &._size2 {
        width: 316px;
      }

      &._size3 {
        width: 169px;
      }

      &._size4 {
        width: 236px;
      }
    }
  }
}
