h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  * + & {
    margin-top: 21px;
  }
}

h1,
.h1 {
  line-height: 20px;
  font-size: 20px;
  color: black;
  font-weight: 700;
}

h2,
.h2 {
  font-size: 20px;
  line-height: 18px;
}

h3,
.h3 {
  text-transform: uppercase;
  line-height: 24px;
  font-weight: 700;
}



// tablet
@include media-breakpoint-up(sm) {
  h1,
  .h1 {
    line-height: 36px;
    font-size: 36px;
  }

  h2,
  .h2 {
    font-size: $h2-font-size;
    line-height: $headings-line-height;
  }
}
