$enable-rounded: false;

$body-color: #535353;

$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 1100px,
  lg: 1100px,
  xl: 1330px
);

$container-max-widths: (
  sm: 720px,
  md: 1056px,
  lg: 1056px,
  xl: 1056px
);

$grid-gutter-width: 32px;

$font-family-sans-serif: 'Roboto', sans-serif;

$nav-link-padding-x: 0;
$nav-link-padding-y: rem(36);

$red: #ce1126;
$blue: #006aaf;

$font-size-lg: rem(26);
$line-height-lg: rem(26);

$headings-margin-bottom: 1rem;

$h1-font-size: rem(36);
$h2-font-size: rem(30);
$h3-font-size: rem(18);

$input-btn-padding-y: rem(13);
$input-btn-padding-x: rem(13);

$input-btn-padding-y-lg: rem(18);
$input-btn-padding-x-lg: rem(18);

$input-btn-padding-y-sm: rem(5);
$input-btn-padding-x-sm: rem(5);

$pagination-color: #aeaeae;
$pagination-padding-y: rem(0);
$pagination-padding-x: rem(6);
$pagination-border-width: 0;
$pagination-bg: transparent;

$pagination-hover-color: $body-color;
$pagination-hover-bg: transparent;

$pagination-active-color: $body-color;
$pagination-active-bg: transparent;

$pagination-disabled-bg: transparent;

$table-border-color: #acacac;
$table-cell-padding: rem(30);
$table-cell-padding-sm: rem(12) rem(30);

$figure-caption-font-size: rem(18);
$figure-caption-color: #595a5a;

$popover-body-padding-y: rem(18);
$popover-body-padding-x: rem(30);

$zindex-modal: 1060;
$modal-lg: 1022px;
$modal-md: 726px;
$modal-backdrop-bg: white;
$modal-header-border-color: #acacac;
$modal-inner-padding: 60px 60px 44px;

$input-btn-padding-y: rem(11);

$form-group-margin-bottom: rem(7);

$custom-control-indicator-size: 14px;
$custom-control-indicator-bg: white;
$custom-control-spacer-y: rem(20);
$custom-control-indicator-focus-box-shadow: none;

$custom-checkbox-indicator-indeterminate-bg: white;
$custom-checkbox-indicator-icon-indeterminate: none;
$custom-checkbox-indicator-indeterminate-box-shadow: none;
