.accordion#accordion(data-children='.accordion__item')
  .accordion__item(v-for='(item, index) in items')
    a.accordion__title(
      data-toggle='collapse'
      data-parent='#accordion'
      :href='"#accordion-item" + (index + 1)'
      :aria-controls='"accordion-item" + (index + 1)') {{item.name}}
    .accordion__content.collapse(role='tabpanel' :id='"accordion-item" + (index + 1)' :class='{"show": items.length === 1}')
      slot(name='item' :content='item')
