.archive
  .archive__title {{title}}
  .archive__list
    template(v-for='item in items')
      .archive__divider(v-if='item.divider')
      .archive__item(v-else)
        router-link.archive__link(:to='getLink(item)') {{item.content}}
