.banner
  .banner__background(:style='"background-image: url(" + bannerUrl + ");"')
  .banner__container.container
    .banner__submenu.js-submenu-position-content(:style="{'margin-left':submenuBlockMarginLeft + 'px'}")
      submenu
