.documents
  .documents__item(v-if='documents.ru')
    a.documents__link(:href='documents.ru.link') {{documents.ru.label}}
    = ' '
    span.documents__info ({{documents.ru.format}}, {{documents.ru.sizeMB}} Mб)
  .documents__item(v-if='documents.en')
    a.documents__link(:href='documents.en.link') {{documents.en.label}}
    = ' '
    span.documents__info ({{documents.en.format}}, {{documents.en.sizeMB}} Mб)
  .documents__item(v-if='documents.interactive')
    a.documents__link(:href='documents.interactive.link') {{documents.interactive.label}}
