.footer
  .footer__container.container
    .footer__top
      .footer__menu
        .footer-menu
          .footer-menu__item(v-for='menuItem in menu')
            router-link.footer-menu__link(:to="{name:menuItem.view}") {{menuItem.name}}
      .footer__contacts-block
        .footer__title {{contactsTitle}}
        .footer__contacts
          p(v-for='contact in contacts') {{contact}}
          p
            | {{emailTitle}}
            a(:href="'mailto:' + email") {{email}}
      .footer__socials-block
        .footer__title {{ratingTitle}}
        .footer__socials
          .socials
            .socials__item(v-for='socialLink in socialLinks')
              a.socials__link(:href='socialLink.link' :class='socialLink.class')
    .footer__bottom
      .footer__copyright {{copyright}}
      a.footer__rating-link(:href='ratingLink')
        Img(:url='ratingImage' alt='').footer__rating
