form(data-parsley-validate @submit.prevent='addReport')
  .form-group
    h3.mb-0.font-weight-normal {{submitterInformation}}
  .form-group
    label(for='applicant-full-name') {{applicantFullNameTitle}} #[span.text-danger *]
    .input-group
      input.form-control#applicant-full-name(type='text' required v-model='newReport.applicantFullName')
  .form-group
    label(for='applicant-short-name') {{applicantShortNameTitle}} #[span.text-danger *]
    .input-group
      input.form-control#applicant-short-name(type='text' required v-model='newReport.applicantShortName')
  .form-group
    label(for='applicant-post-address') {{postAddressTitle}} #[span.text-danger *]
    .input-group
      input.form-control#applicant-post-address(type='text' required v-model='newReport.applicantPostAddress')
  .form-group.mb-4
    label(for='applicant-internet-address') {{internetAddressTitle}} #[span.text-danger *]
    .input-group
      input.form-control#applicant-internet-address(type='url' required v-model='newReport.applicantInternetAddress')

  .form-group
    h3.mb-0.font-weight-normal {{contactPersonTitle}}
  .form-group
    label(for='contact-surname') {{lastnameTitle}} #[span.text-danger *]
    .input-group
      input.form-control#contact-surname(type='text' required v-model='newReport.contactPersonLastName')
  .form-group
    label(for='contact-name') {{firstnameTitle}} #[span.text-danger *]
    .input-group
      input.form-control#contact-name(type='text' required v-model='newReport.contactPersonFirstName')
  .form-group
    label(for='contact-patronymic') {{middlenameTitle}}
    .input-group
      input.form-control#contact-patronymic(type='text' v-model='newReport.contactPersonMiddleName')
  .form-group
    label(for='contact-position') {{positionTitle}} #[span.text-danger *]
    .input-group
      input.form-control#contact-position(type='text' required v-model='newReport.contactPersonPosition')
  .form-group
    label(for='contact-email') {{emailTitle}} #[span.text-danger *]
    .input-group
      input.form-control#contact-email(type='email' required v-model='newReport.contactPersonEmail')
  .form-group
    label(for='contact-phone') {{phoneTitle }}#[span.text-danger *]
    .input-group
      input.form-control#contact-phone(data-inputmask="'mask': '+7 (999) 999-99-99'" type='tel' required v-model='newReport.contactPersonPhone')

  .form-group
    h3.mb-0.font-weight-normal
      a(href='http://fs.moex.com/f/5842/kratkaja-informacija-o-godovom-otchete.docx') {{shortDescriptionTitle}}
  .form-group.mb-4
    .input-group
      textarea.form-control(rows=9 v-model='newReport.shortReportDescription')

  .form-group
    .text-block
      h3.mb-0.font-weight-normal {{shortAboutCompanyTitle}}
      p.mb-0 {{shortAboutCompanyTitleLine2}}
  .form-group.mb-4
    .input-group
      textarea.form-control(rows=9 v-model='newReport.shortCompanyDescription')

  .form-group.mb-3
    h3.mb-0.font-weight-normal {{sectorTitle}}
  .form-group.mb-0
    .custom-controls-stacked
      label.custom-control.custom-radio._alone(v-for='(sector,index) in sectorNames')
        input.custom-control-input(
          type='radio'
          name='main-activity[]'
          :value='sector.id'
          data-group='main-activity'
          :data-target='{"#main-activity-other" : index===sectorNames.length-1}',
          v-model='selectedSector')
        span.custom-control-indicator
        span.custom-control-description {{sector.name}}
  .form-group.mb-4#main-activity-other(v-if='selectedSector===0')
    label(for='main-activity-other-field') {{otherSectorTitle}}
    .input-group
      input.form-control#main-activity-other-field(type='text' placeholder='' required v-model='otherSector')

  .form-group.mb-4
    label(for='help-sites') {{helpSitesTitle}}
    .input-group
      input.form-control#help-sites(type='text' v-model='newReport.helpSites')

  .form-group.mb-3
    h3.mb-0.font-weight-normal {{mainNominationsTitle}}
  .form-group.mb-3
    .custom-controls-stacked
      label.custom-control.custom-radio._alone(v-for='(nomination,index) in mainNominations')
        input.custom-control-input(
          type='radio'
          name='main-nominations'
          :value='nomination.id'
          v-model='selectedMainNomination')
        span.custom-control-indicator
        span.custom-control-description {{nomination.name}}

  .form-group.mb-3
    h3.mb-0.font-weight-normal {{additionalNominationsTitle}} #[span.text-danger *]
  .form-group.mb-3
    .custom-controls-stacked
      label.custom-control.custom-checkbox._alone(v-for='(nomination, index) in additionalNominations')
        input.custom-control-input(
          type='checkbox'
          name='other-nominations[]'
          :value='nomination.id'
          data-parsley-mincheck=1
          data-group='other-nominations'
          :data-subgroup="index === additionalNominations.length - 1 ? 'other' : 'current'"
          required,
          v-model='selectedAdditionalNominations')
        span.custom-control-indicator
        span.custom-control-description {{nomination.name}}

  .form-group.mb-3
    h3.mb-0.font-weight-normal {{reportTitle}} #[span.text-danger *]
  .form-group.mb-3
    .custom-controls-stacked
      .form-group.mb-3(v-for='(category, index) in reportCategories')
        label.custom-control.custom-checkbox._alone.mb-0
          input.custom-control-input(
            type='checkbox'
            name='annual-report-link[]'
            :value='index'
            data-parsley-mincheck=1
            :data-group='"annual-report-link"+index'
            :data-target='"#annual-report-link"+index'
            required
            v-model='selectedReports')
          span.custom-control-indicator
          span.custom-control-description {{category.title}}
        .form-group.mb-0(:id='"annual-report-link"+index' v-if='selectedReports.find(item => item === index) != undefined')
          label(:for='"annual-report-link-field"+index') {{reportLinkTitle}}
          .input-group
            input.form-control(type='url' placeholder='' :id='"annual-report-link-field"+index' required v-model='category.documentLink')

  .form-group.mb-4
    .text-block._description(v-html='disclamerHtml')

  .form-group.mb-3
    .custom-controls-stacked
      label.custom-control.custom-checkbox._alone(v-for='(agreement,index) in agreements')
        input.custom-control-input(
          type='checkbox'
          :name='"compliance"+index'
          required)
        span.custom-control-indicator
        span.custom-control-description {{agreement.title}}

  .form-group.mb-5
    vue-recaptcha(sitekey='6Le48kQUAAAAAKz4LYexG2h_-z9hQ717-v6vhBhO' @verify='verifyReCaptcha' ref='captcha' @expired='captchaExpired')
  .form-group.mb-0
    .form-group__button
      button.btn.btn-block.btn-danger.text-uppercase {{submitTitle}}
