.slider.js-slider(:class='{_gallery: isGallery}')
  .slider__outer.swiper-container.js-slider-container(ref='sliderContainer')
    .slider__wrapper.swiper-wrapper
      .slider__slide.swiper-slide(v-for='(slide, index) in slides')
        Img(alt='' :url='slide.image' v-if='isGallery').slider__image
        .slide(:style='"background-image: url(" + slide.image + ");"' v-else)
          .slide__container.container
            .slide__content
              .slide__inner
                .slide__title {{slide.title}}
                .slide__description {{slide.description}}
                .slide__button._tablet
                  router-link.btn.btn-danger.btn-lg.btn-block(:to='{name:submitView}' v-if='isSubmitAvailable') {{submitText}}
                .slide__button._mobile
                  router-link.btn.btn-danger.btn-block(:to='{name:submitView}' v-if='isSubmitAvailable') {{submitText}}
  .slider__pagination.swiper-pagination.js-slider-pagination(v-if='!isGallery' ref='sliderPagination')
  a.slider__navigation._prev.js-slider-prev(:href='previousSlideLink' v-if='isGallery' ref='sliderPrev')
  a.slider__navigation._next.js-slider-next(:href='nextSlideLink' v-if='isGallery' ref='sliderNext')
