.submenu
  .submenu__item(v-for='(menuItem, index) in submenu')
    router-link.submenu__link(:to="{name:menuItem.view}" v-if="!menuItem.hidden" :class="{'_active': menuItem.selected}") {{menuItem.name}}
