table.table._fixed.table-sm._jury
  thead
    tr
      th._size3._photo
      th._size4._name {{fullNameColumnTitle}}
      th._tablet {{organizationAndTitleColumnTitle}}
  tbody
    tr(v-for='(person, personId) in juryStructure')
      td._size3.align-top._photo
        Img(:url='person.image' alt='').table__image
      td._size4._name.align-top
        .table__description._mobile._footnote {{fullNameColumnTitle}}
        .table__description
          span.text-uppercase {{person.lastName}}
          br/ {{person.firstName}} {{person.middleName}}
        .table__description._mobile._footnote._after-title-block {{person.title}}
      td.align-top._tablet
        .table__description {{person.title}}
