.nominations-table
  .nominations-table__title(v-html='titleHtml')
  .nominations-table__content
    table.table._fixed.table-sm
      thead
        tr
          th._size1
          th {{nominationColumnTitle}}
          th._size2._tablet {{nominationFounderColumnTitle}}
      tbody
        template(v-for='item in nominations')
          tr(v-for='(nomination, index) in item.nominations')
            td._size1._icon.align-top
              .table__icon._medal-small
            td.align-middle
              .table__description._mobile._footnote {{nominationColumnTitle}}
              .table__title._small {{nomination.nomination}}
              .table__description._mobile._footnote._after-title-block {{nominationFounderColumnTitle}}
              .table__description._mobile {{item.executiveName}}
            td.align-middle._size2._tablet(:rowspan='item.nominations.length' v-if='index===0')
              .table__description {{item.executiveName}}
