.nominations-table
  .nominations-table__content
    table.table._fixed.table-sm._jury._accordion
      thead
        tr
          th._size3._tablet
          th._size4._name {{nominationColumnTitle}}
          th._tablet {{winnersColumnTitle}}
      tbody
        tr(v-for='(item, rowIndex) in winners')
          td._size3._tablet(:class='{"_accordion-last":(rowIndex + 1)===winners.length}')
          td._size4._name.align-top(:class='{"_accordion-last":(rowIndex + 1)===winners.length}')
            .table__description._mobile._footnote {{nominationColumnTitle}}
            .table__title._tiny {{item.nomination}}
            .table__description._mobile._footnote._after-title-block {{winnersColumnTitle}}
            .table__winners-list._mobile._after-description
              .winners-list
                template(v-for='winner in item.items')
                  .winners-list__item(v-for='name in winner.names' :class="{'_winner': winner.winner, '_separate': item.items.length > 1}") {{name}}
          td.align-top._tablet(:class='{"_accordion-last":(rowIndex + 1)===winners.length}')
            .table__winners-list
              .winners-list
                template(v-for='winner in item.items')
                  .winners-list__item(v-for='name in winner.names' :class="{'_winner': winner.winner, '_separate': item.items.length > 1}") {{name}}
