.nominations-table
  .nominations-table__content
    table.table._fixed.table-sm._jury._accordion
      thead
        tr
          th._size3._tablet
          th._size4._name {{nominationColumnTitle}}
          th._tablet {{winnersColumnTitle}}
      tbody
        tr(v-for='item in nominations')
          td._size3._tablet
          td._size4._name.align-top
            .table__description._mobile._footnote {{nominationColumnTitle}}
            .table__title._tiny {{item.nomination}}
            .table__description._mobile._footnote._after-title-block {{winnersColumnTitle}}
            .table__nominees._mobile._after-description
              .nominees
                .nominees__item(v-for='nominee in item.nominees') {{nominee}}
          td.align-top._tablet
            .table__nominees
              .nominees
                .nominees__item(v-for='nominee in item.nominees') {{nominee}}
