.nominations-table
  .nominations-table__title(v-html='titleHtml')
  .nominations-table__content
    table.table._fixed
      thead
        tr
          th._size1
          th {{nominationColumnTitle}}
          th._size2.tablet {{nominationFounderColumnTitle}}
      tbody
        template(v-for='item in nominations')
          tr(v-for='(nomination, index) in item.nominations')
            td._size1._icon.align-top
              .table__icon._medal
            td.align-middle
              .table__description._mobile._footnote {{nominationColumnTitle}}
              .table__title {{nomination.nomination}}
                template(v-if="nomination.hasFootnote") *
              .table__description._mobile._footnote._after-title-block {{nominationFounderColumnTitle}}
              .table__description._mobile {{item.executiveName}}
            td.align-middle._size2._tablet(:rowspan='item.nominations.length' v-if='index===0')
              .table__description {{item.executiveName}}
        tr
          td._tablet
          td._tablet(colspan=2)
            .table__description._footnote(v-html='"*" + footnote')
          td._mobile._footnote(colspan=2)
            .table__description._footnote(v-html='"*" + footnote')
