.nominations-table
  .nominations-table__title(v-html='titleHtml')
  .nominations-table__content
    table.table._fixed
      tbody
        tr(v-for='item in nominations')
            td._size1._icon
              .table__icon._medal
            td
              .table__description._subtitle {{item.nomination}}
              .table__title._after-description {{item.range}}
