.nominations-table
  .nominations-table__content
    table.table._fixed(class='table-sm _jury _accordion')
      thead
        tr
          th._size3._tablet
          th._size4._name {{fullNameColumnTitle}}
          th._tablet {{organizationAndTitleColumnTitle}}
      tbody
        tr(v-for='(person, personId) in commissionStructure')
          td._size3._tablet._photo(:class='{"_accordion-last":personId + 1===commissionStructure.length}')
          td._size4._name.align-top(:class='{"_accordion-last":personId + 1===commissionStructure.length}')
            .table__description._mobile._footnote {{fullNameColumnTitle}}
            .table__description
              span.text-uppercase {{person.lastName}}
              br/ {{person.firstName}} {{person.middleName}}
            .table__description._mobile._footnote._after-title-block {{person.title}}
          td.align-top._tablet(:class='{"_accordion-last":personId + 1===commissionStructure.length}')
            .table__description {{person.title}}
