.main
  .main__banner
    banner(:bannerUrl='bannerUrl')
  .main__second-content
    .second-content
      .second-content__container.container
        .second-content__inner
          h1.second-content__title {{secondContentTitle}}
          .second-content__text-block._wide
            .text-block._mobile-short(v-html='htmlBlock' ref='placeholder')
