.main
  .main__banner
    banner(:bannerUrl='bannerUrl')
  .main__second-content
    .second-content
      .second-content__container.container
        .second-content__inner
          loading(v-if="dataLoading")
          template(v-if="!dataLoading")
            div(v-html='htmlContent')
            .second-content__archive
              archive(:title='archiveTitle' :items="archiveDocuments" :path='path')
