.main
  .main__banner
    banner(:bannerUrl='bannerUrl')
  .main__second-content
    .second-content
      .second-content__container.container
        .second-content__inner
          loading(v-if="dataLoading")
          template(v-if="!dataLoading")
            .second-content__title(v-html='secondContentTitle')
            .second-content__text-block(v-if='description')
              .text-block(v-html='description')
            .second-content__accordion._structure
              .accordion._structure(id="accordion" data-children=".accordion__item")
                .accordion__item
                  a.accordion__title(data-toggle="collapse" data-parent="#accordion"
                                      href="#accordion-item1" aria-controls="accordion-item1"
                                      v-html='accordionTitle')
                  .accordion__content.collapse(role="tabpanel" id="accordion-item1")
                    .nominations-table
                      .nominations-table__content
                        table-jury(:juryStructure="jury")
            .second-content__archive
              archive(:title='archiveTitle' :items="archiveJury" :path='path')
