.main
  .main__slider
    slider(ref='slider' :slides='slides')
  .main__reports
    reports(:type='type' :page='page' :year='year' :category='category' :categoryId='categoryId' :fullPath='fullPath')
