.main
  .main__banner
    banner(:bannerUrl='bannerUrl')
  .main__second-content
    .second-content
      .second-content__container.container
        .second-content__inner
          loading(v-if="dataLoading")
          template(v-if="!dataLoading")
            .second-content__table-list(v-if='nominations')
              .second-content__table
                table-nominations-main(:nominations="nominations.mainNominations.items[0].nominations" :titleHtml='nominations.mainNominations.title')
              .second-content__table
                table-nominations-additional(:nominations="nominations.additionalNominations.items" :titleHtml='nominations.additionalNominations.title' :footnote='nominations.additionalNominations.footnote' v-if='nominations.additionalNominations.title')
              .second-content__table
                table-nominations-best-report(:nominations="nominations.sectorNominations.items" :titleHtml='nominations.sectorNominations.title')
              template(v-for='otherNominations in nominations.otherNominations')
                .second-content__table
                  table-nominations-best-report(:nominations="otherNominations.items" :titleHtml='otherNominations.title')
            .second-content__archive
              archive(:title='archiveTitle' :items="archiveNominations" :path='path')
