.main
  .main__banner
    banner(:bannerUrl='bannerUrl')
  .main__second-content
    .second-content
      .second-content__container.container
        .second-content__inner
          h1.second-content__title(v-html='secondContentTitleHtml')
          .second-content__request
            form-request
