.main
  .main__banner
    banner(:bannerUrl='bannerUrl')
  .main__second-content
    .second-content
      .second-content__container.container
        .second-content__inner
          h1.second-content__title {{secondContentTitle}}
          .second-content__accordion
            .accordion._structure#accordion(data-children='.accordion__item')
              .accordion__item
                a.accordion__title(
                  data-toggle='collapse'
                  data-parent='#accordion'
                  href='#accordion-item'
                  aria-controls='accordion-item') {{title}}
                .accordion__content.collapse.show(role='tabpanel' id='accordion-item')
                  tableShortList(:nominations='shortList')
          .second-content__archive
            archive(:title='archiveTitle' :items="archiveShortLists" :path='path')
