.main
  .main__banner
    banner(:bannerUrl='bannerUrl')
  .main__second-content
    .second-content
      .second-content__container.container
        .second-content__inner
          h1.second-content__title {{secondContentTitle}}
          .second-content__accordion._structure
            accordion._structure(:items= 'nominations')
              table-winners(slot='item' slot-scope="{ content }" :winners="content.winners")
          .second-content__archive
            archive(:title='archiveTitle' :items="archiveWinners" :path='path')
