.modal.fade#register(tabindex='-1', role='dialog', aria-labelledby='register', aria-hidden='true')
  .modal-dialog.modal-lg()
    .modal-content
      .modal-header
        .modal-title: .h1 {{title}}
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        .modal-body__content
          .modal-body__form
            form(data-parsley-validate)
              .form-group
                label(for='register-email') {{emailTitle}} #[span.text-danger *]
                .input-group
                  input.form-control#register-email(type='email' required)
              .form-group
                label(for='register-password') {{passwordTitle}} #[span.text-danger *]
                .input-group
                  input.form-control#register-password(
                    type='password'
                    pattern='^[A-Za-z0-9]+$'
                    required)
              .form-group.mb-4
                label(for='register-password-confirm') {{confirmPassword}} #[span.text-danger *]
                .input-group
                  input.form-control#register-password-confirm(
                    type='password'
                    data-parsley-equalto='#register-password'
                    required)
              .form-group.mb-5
                label.custom-control.custom-checkbox._alone
                  input.custom-control-input(type='checkbox' name='compliance' required)
                  span.custom-control-indicator
                  span.custom-control-description {{termsAndConditionsTitle}} #[a(:href='termsAndConditionsSiteLink') {{termsAndConditionsSiteTitle}}], #[a(:href='termsAndConditionsPolicyLink') {{termsAndConditionsPolicyTitle}}]
              .form-group.mb-0
                .form-group__button
                  button.btn.btn-block.btn-danger.text-uppercase(type='submit') {{submitTitle}}
//reviewed
