.modals
  #user.d-none
    .popover-body__user-controls
      .user-controls
        .user-controls__item: a.user-controls__link(:href='login.link' data-toggle='modal' data-target='#login') {{login.title}}
        .user-controls__item: a.user-controls__link(:href='register.link' data-toggle='modal' data-target='#register') {{register.title}}
  modal-register
  modal-login
