.modal.fade#report(tabindex='-1', role='dialog', aria-labelledby='report', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content(v-if='report')
      .detail-report
        .detail-report__heading
          .detail-report__heading-content
            .detail-report__title {{report.title}}
            .detail-report__link-block
              a.detail-report__link(:href='report.companyLink.link') {{report.companyLink.text}}
          .detail-report__rewards._tablet(v-if='report.rewards && report.rewards.length')
            rewards(:rewards='report.rewards')
          .detail-report__close
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
        .detail-report__slider
          slider(:isGallery='true' ref='slider' :slides='report.images')
        .detail-report__content
          .detail-report__rewards._mobile(v-if='report.rewards && report.rewards.length')
            rewards(:rewards='report.rewards')
          .detail-report__info
            .detail-report__documents
              documents(:documents='report.documents')
          .detail-report__text
            .text-block(v-html='report.reportHtml')

