.modal.fade#login(tabindex='-1', role='dialog', aria-labelledby='login', aria-hidden='true')
  .modal-dialog.modal-lg()
    .modal-content
      .modal-header
        .modal-title: .h1 {{title}}
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        .modal-body__content
          .modal-body__form
            form(data-parsley-validate)
              .form-group
                label(for='login-email') {{emailTitle}} #[span.text-danger *]
                .input-group
                  input.form-control#login-email(type='email' required)
              .form-group.mb-4
                label(for='login-password') {{passwordTitle}} #[span.text-danger *]
                .input-group
                  input.form-control#login-password(type='password' required)
              .form-group.mb-5
                a.form-group__link(:href='forgotPasswordLink') {{forgotPasswordTitle}}
              .form-group.mb-0
                .form-group__button
                  button.btn.btn-block.btn-danger.text-uppercase(type='submit') {{submitTitle}}
//reviewed
