// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-down-name: 'arrow-down';
$arrow-down-x: 175px;
$arrow-down-y: 20px;
$arrow-down-offset-x: -175px;
$arrow-down-offset-y: -20px;
$arrow-down-width: 15px;
$arrow-down-height: 8px;
$arrow-down-total-width: 190px;
$arrow-down-total-height: 163px;
$arrow-down-image: '~sprite.png';
$arrow-down: (175px, 20px, -175px, -20px, 15px, 8px, 190px, 163px, '~sprite.png', 'arrow-down', );
$arrow-left-name: 'arrow-left';
$arrow-left-x: 66px;
$arrow-left-y: 0px;
$arrow-left-offset-x: -66px;
$arrow-left-offset-y: 0px;
$arrow-left-width: 62px;
$arrow-left-height: 61px;
$arrow-left-total-width: 190px;
$arrow-left-total-height: 163px;
$arrow-left-image: '~sprite.png';
$arrow-left: (66px, 0px, -66px, 0px, 62px, 61px, 190px, 163px, '~sprite.png', 'arrow-left', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 0px;
$arrow-right-y: 0px;
$arrow-right-offset-x: 0px;
$arrow-right-offset-y: 0px;
$arrow-right-width: 62px;
$arrow-right-height: 61px;
$arrow-right-total-width: 190px;
$arrow-right-total-height: 163px;
$arrow-right-image: '~sprite.png';
$arrow-right: (0px, 0px, 0px, 0px, 62px, 61px, 190px, 163px, '~sprite.png', 'arrow-right', );
$bronze-name: 'bronze';
$bronze-x: 143px;
$bronze-y: 119px;
$bronze-offset-x: -143px;
$bronze-offset-y: -119px;
$bronze-width: 24px;
$bronze-height: 24px;
$bronze-total-width: 190px;
$bronze-total-height: 163px;
$bronze-image: '~sprite.png';
$bronze: (143px, 119px, -143px, -119px, 24px, 24px, 190px, 163px, '~sprite.png', 'bronze', );
$facebook-name: 'facebook';
$facebook-x: 45px;
$facebook-y: 65px;
$facebook-offset-x: -45px;
$facebook-offset-y: -65px;
$facebook-width: 39px;
$facebook-height: 38px;
$facebook-total-width: 190px;
$facebook-total-height: 163px;
$facebook-image: '~sprite.png';
$facebook: (45px, 65px, -45px, -65px, 39px, 38px, 190px, 163px, '~sprite.png', 'facebook', );
$gold-name: 'gold';
$gold-x: 115px;
$gold-y: 119px;
$gold-offset-x: -115px;
$gold-offset-y: -119px;
$gold-width: 24px;
$gold-height: 24px;
$gold-total-width: 190px;
$gold-total-height: 163px;
$gold-image: '~sprite.png';
$gold: (115px, 119px, -115px, -119px, 24px, 24px, 190px, 163px, '~sprite.png', 'gold', );
$hamburger-name: 'hamburger';
$hamburger-x: 85px;
$hamburger-y: 147px;
$hamburger-offset-x: -85px;
$hamburger-offset-y: -147px;
$hamburger-width: 17px;
$hamburger-height: 13px;
$hamburger-total-width: 190px;
$hamburger-total-height: 163px;
$hamburger-image: '~sprite.png';
$hamburger: (85px, 147px, -85px, -147px, 17px, 13px, 190px, 163px, '~sprite.png', 'hamburger', );
$instagram-name: 'instagram';
$instagram-x: 132px;
$instagram-y: 0px;
$instagram-offset-x: -132px;
$instagram-offset-y: 0px;
$instagram-width: 39px;
$instagram-height: 38px;
$instagram-total-width: 190px;
$instagram-total-height: 163px;
$instagram-image: '~sprite.png';
$instagram: (132px, 0px, -132px, 0px, 39px, 38px, 190px, 163px, '~sprite.png', 'instagram', );
$medal-small-name: 'medal-small';
$medal-small-x: 132px;
$medal-small-y: 42px;
$medal-small-offset-x: -132px;
$medal-small-offset-y: -42px;
$medal-small-width: 25px;
$medal-small-height: 30px;
$medal-small-total-width: 190px;
$medal-small-total-height: 163px;
$medal-small-image: '~sprite.png';
$medal-small: (132px, 42px, -132px, -42px, 25px, 30px, 190px, 163px, '~sprite.png', 'medal-small', );
$medal-name: 'medal';
$medal-x: 0px;
$medal-y: 65px;
$medal-offset-x: 0px;
$medal-offset-y: -65px;
$medal-width: 41px;
$medal-height: 50px;
$medal-total-width: 190px;
$medal-total-height: 163px;
$medal-image: '~sprite.png';
$medal: (0px, 65px, 0px, -65px, 41px, 50px, 190px, 163px, '~sprite.png', 'medal', );
$search-name: 'search';
$search-x: 44px;
$search-y: 147px;
$search-offset-x: -44px;
$search-offset-y: -147px;
$search-width: 17px;
$search-height: 16px;
$search-total-width: 190px;
$search-total-height: 163px;
$search-image: '~sprite.png';
$search: (44px, 147px, -44px, -147px, 17px, 16px, 190px, 163px, '~sprite.png', 'search', );
$settings-name: 'settings';
$settings-x: 65px;
$settings-y: 147px;
$settings-offset-x: -65px;
$settings-offset-y: -147px;
$settings-width: 16px;
$settings-height: 15px;
$settings-total-width: 190px;
$settings-total-height: 163px;
$settings-image: '~sprite.png';
$settings: (65px, 147px, -65px, -147px, 16px, 15px, 190px, 163px, '~sprite.png', 'settings', );
$silver-name: 'silver';
$silver-x: 87px;
$silver-y: 119px;
$silver-offset-x: -87px;
$silver-offset-y: -119px;
$silver-width: 24px;
$silver-height: 24px;
$silver-total-width: 190px;
$silver-total-height: 163px;
$silver-image: '~sprite.png';
$silver: (87px, 119px, -87px, -119px, 24px, 24px, 190px, 163px, '~sprite.png', 'silver', );
$star-active-name: 'star-active';
$star-active-x: 0px;
$star-active-y: 147px;
$star-active-offset-x: 0px;
$star-active-offset-y: -147px;
$star-active-width: 18px;
$star-active-height: 16px;
$star-active-total-width: 190px;
$star-active-total-height: 163px;
$star-active-image: '~sprite.png';
$star-active: (0px, 147px, 0px, -147px, 18px, 16px, 190px, 163px, '~sprite.png', 'star-active', );
$star-name: 'star';
$star-x: 22px;
$star-y: 147px;
$star-offset-x: -22px;
$star-offset-y: -147px;
$star-width: 18px;
$star-height: 16px;
$star-total-width: 190px;
$star-total-height: 163px;
$star-image: '~sprite.png';
$star: (22px, 147px, -22px, -147px, 18px, 16px, 190px, 163px, '~sprite.png', 'star', );
$stripes-active-name: 'stripes-active';
$stripes-active-x: 58px;
$stripes-active-y: 119px;
$stripes-active-offset-x: -58px;
$stripes-active-offset-y: -119px;
$stripes-active-width: 25px;
$stripes-active-height: 24px;
$stripes-active-total-width: 190px;
$stripes-active-total-height: 163px;
$stripes-active-image: '~sprite.png';
$stripes-active: (58px, 119px, -58px, -119px, 25px, 24px, 190px, 163px, '~sprite.png', 'stripes-active', );
$stripes-name: 'stripes';
$stripes-x: 132px;
$stripes-y: 76px;
$stripes-offset-x: -132px;
$stripes-offset-y: -76px;
$stripes-width: 25px;
$stripes-height: 24px;
$stripes-total-width: 190px;
$stripes-total-height: 163px;
$stripes-image: '~sprite.png';
$stripes: (132px, 76px, -132px, -76px, 25px, 24px, 190px, 163px, '~sprite.png', 'stripes', );
$tiles-active-name: 'tiles-active';
$tiles-active-x: 0px;
$tiles-active-y: 119px;
$tiles-active-offset-x: 0px;
$tiles-active-offset-y: -119px;
$tiles-active-width: 25px;
$tiles-active-height: 24px;
$tiles-active-total-width: 190px;
$tiles-active-total-height: 163px;
$tiles-active-image: '~sprite.png';
$tiles-active: (0px, 119px, 0px, -119px, 25px, 24px, 190px, 163px, '~sprite.png', 'tiles-active', );
$tiles-name: 'tiles';
$tiles-x: 29px;
$tiles-y: 119px;
$tiles-offset-x: -29px;
$tiles-offset-y: -119px;
$tiles-width: 25px;
$tiles-height: 24px;
$tiles-total-width: 190px;
$tiles-total-height: 163px;
$tiles-image: '~sprite.png';
$tiles: (29px, 119px, -29px, -119px, 25px, 24px, 190px, 163px, '~sprite.png', 'tiles', );
$twitter-name: 'twitter';
$twitter-x: 88px;
$twitter-y: 65px;
$twitter-offset-x: -88px;
$twitter-offset-y: -65px;
$twitter-width: 39px;
$twitter-height: 38px;
$twitter-total-width: 190px;
$twitter-total-height: 163px;
$twitter-image: '~sprite.png';
$twitter: (88px, 65px, -88px, -65px, 39px, 38px, 190px, 163px, '~sprite.png', 'twitter', );
$user-name: 'user';
$user-x: 175px;
$user-y: 0px;
$user-offset-x: -175px;
$user-offset-y: 0px;
$user-width: 15px;
$user-height: 16px;
$user-total-width: 190px;
$user-total-height: 163px;
$user-image: '~sprite.png';
$user: (175px, 0px, -175px, 0px, 15px, 16px, 190px, 163px, '~sprite.png', 'user', );
$retina-arrow-down-name: 'retina_arrow-down';
$retina-arrow-down-x: 350px;
$retina-arrow-down-y: 40px;
$retina-arrow-down-offset-x: -350px;
$retina-arrow-down-offset-y: -40px;
$retina-arrow-down-width: 30px;
$retina-arrow-down-height: 16px;
$retina-arrow-down-total-width: 380px;
$retina-arrow-down-total-height: 326px;
$retina-arrow-down-image: '~sprite@2x.png';
$retina-arrow-down: (350px, 40px, -350px, -40px, 30px, 16px, 380px, 326px, '~sprite@2x.png', 'retina_arrow-down', );
$retina-arrow-left-name: 'retina_arrow-left';
$retina-arrow-left-x: 132px;
$retina-arrow-left-y: 0px;
$retina-arrow-left-offset-x: -132px;
$retina-arrow-left-offset-y: 0px;
$retina-arrow-left-width: 124px;
$retina-arrow-left-height: 122px;
$retina-arrow-left-total-width: 380px;
$retina-arrow-left-total-height: 326px;
$retina-arrow-left-image: '~sprite@2x.png';
$retina-arrow-left: (132px, 0px, -132px, 0px, 124px, 122px, 380px, 326px, '~sprite@2x.png', 'retina_arrow-left', );
$retina-arrow-right-name: 'retina_arrow-right';
$retina-arrow-right-x: 0px;
$retina-arrow-right-y: 0px;
$retina-arrow-right-offset-x: 0px;
$retina-arrow-right-offset-y: 0px;
$retina-arrow-right-width: 124px;
$retina-arrow-right-height: 122px;
$retina-arrow-right-total-width: 380px;
$retina-arrow-right-total-height: 326px;
$retina-arrow-right-image: '~sprite@2x.png';
$retina-arrow-right: (0px, 0px, 0px, 0px, 124px, 122px, 380px, 326px, '~sprite@2x.png', 'retina_arrow-right', );
$retina-bronze-name: 'retina_bronze';
$retina-bronze-x: 284px;
$retina-bronze-y: 238px;
$retina-bronze-offset-x: -284px;
$retina-bronze-offset-y: -238px;
$retina-bronze-width: 47px;
$retina-bronze-height: 46px;
$retina-bronze-total-width: 380px;
$retina-bronze-total-height: 326px;
$retina-bronze-image: '~sprite@2x.png';
$retina-bronze: (284px, 238px, -284px, -238px, 47px, 46px, 380px, 326px, '~sprite@2x.png', 'retina_bronze', );
$retina-facebook-name: 'retina_facebook';
$retina-facebook-x: 90px;
$retina-facebook-y: 130px;
$retina-facebook-offset-x: -90px;
$retina-facebook-offset-y: -130px;
$retina-facebook-width: 78px;
$retina-facebook-height: 76px;
$retina-facebook-total-width: 380px;
$retina-facebook-total-height: 326px;
$retina-facebook-image: '~sprite@2x.png';
$retina-facebook: (90px, 130px, -90px, -130px, 78px, 76px, 380px, 326px, '~sprite@2x.png', 'retina_facebook', );
$retina-gold-name: 'retina_gold';
$retina-gold-x: 229px;
$retina-gold-y: 238px;
$retina-gold-offset-x: -229px;
$retina-gold-offset-y: -238px;
$retina-gold-width: 47px;
$retina-gold-height: 46px;
$retina-gold-total-width: 380px;
$retina-gold-total-height: 326px;
$retina-gold-image: '~sprite@2x.png';
$retina-gold: (229px, 238px, -229px, -238px, 47px, 46px, 380px, 326px, '~sprite@2x.png', 'retina_gold', );
$retina-hamburger-name: 'retina_hamburger';
$retina-hamburger-x: 168px;
$retina-hamburger-y: 294px;
$retina-hamburger-offset-x: -168px;
$retina-hamburger-offset-y: -294px;
$retina-hamburger-width: 34px;
$retina-hamburger-height: 26px;
$retina-hamburger-total-width: 380px;
$retina-hamburger-total-height: 326px;
$retina-hamburger-image: '~sprite@2x.png';
$retina-hamburger: (168px, 294px, -168px, -294px, 34px, 26px, 380px, 326px, '~sprite@2x.png', 'retina_hamburger', );
$retina-instagram-name: 'retina_instagram';
$retina-instagram-x: 264px;
$retina-instagram-y: 0px;
$retina-instagram-offset-x: -264px;
$retina-instagram-offset-y: 0px;
$retina-instagram-width: 78px;
$retina-instagram-height: 76px;
$retina-instagram-total-width: 380px;
$retina-instagram-total-height: 326px;
$retina-instagram-image: '~sprite@2x.png';
$retina-instagram: (264px, 0px, -264px, 0px, 78px, 76px, 380px, 326px, '~sprite@2x.png', 'retina_instagram', );
$retina-medal-small-name: 'retina_medal-small';
$retina-medal-small-x: 264px;
$retina-medal-small-y: 84px;
$retina-medal-small-offset-x: -264px;
$retina-medal-small-offset-y: -84px;
$retina-medal-small-width: 49px;
$retina-medal-small-height: 60px;
$retina-medal-small-total-width: 380px;
$retina-medal-small-total-height: 326px;
$retina-medal-small-image: '~sprite@2x.png';
$retina-medal-small: (264px, 84px, -264px, -84px, 49px, 60px, 380px, 326px, '~sprite@2x.png', 'retina_medal-small', );
$retina-medal-name: 'retina_medal';
$retina-medal-x: 0px;
$retina-medal-y: 130px;
$retina-medal-offset-x: 0px;
$retina-medal-offset-y: -130px;
$retina-medal-width: 82px;
$retina-medal-height: 100px;
$retina-medal-total-width: 380px;
$retina-medal-total-height: 326px;
$retina-medal-image: '~sprite@2x.png';
$retina-medal: (0px, 130px, 0px, -130px, 82px, 100px, 380px, 326px, '~sprite@2x.png', 'retina_medal', );
$retina-search-name: 'retina_search';
$retina-search-x: 86px;
$retina-search-y: 294px;
$retina-search-offset-x: -86px;
$retina-search-offset-y: -294px;
$retina-search-width: 34px;
$retina-search-height: 32px;
$retina-search-total-width: 380px;
$retina-search-total-height: 326px;
$retina-search-image: '~sprite@2x.png';
$retina-search: (86px, 294px, -86px, -294px, 34px, 32px, 380px, 326px, '~sprite@2x.png', 'retina_search', );
$retina-settings-name: 'retina_settings';
$retina-settings-x: 128px;
$retina-settings-y: 294px;
$retina-settings-offset-x: -128px;
$retina-settings-offset-y: -294px;
$retina-settings-width: 32px;
$retina-settings-height: 30px;
$retina-settings-total-width: 380px;
$retina-settings-total-height: 326px;
$retina-settings-image: '~sprite@2x.png';
$retina-settings: (128px, 294px, -128px, -294px, 32px, 30px, 380px, 326px, '~sprite@2x.png', 'retina_settings', );
$retina-silver-name: 'retina_silver';
$retina-silver-x: 174px;
$retina-silver-y: 238px;
$retina-silver-offset-x: -174px;
$retina-silver-offset-y: -238px;
$retina-silver-width: 47px;
$retina-silver-height: 46px;
$retina-silver-total-width: 380px;
$retina-silver-total-height: 326px;
$retina-silver-image: '~sprite@2x.png';
$retina-silver: (174px, 238px, -174px, -238px, 47px, 46px, 380px, 326px, '~sprite@2x.png', 'retina_silver', );
$retina-star-active-name: 'retina_star-active';
$retina-star-active-x: 0px;
$retina-star-active-y: 294px;
$retina-star-active-offset-x: 0px;
$retina-star-active-offset-y: -294px;
$retina-star-active-width: 35px;
$retina-star-active-height: 32px;
$retina-star-active-total-width: 380px;
$retina-star-active-total-height: 326px;
$retina-star-active-image: '~sprite@2x.png';
$retina-star-active: (0px, 294px, 0px, -294px, 35px, 32px, 380px, 326px, '~sprite@2x.png', 'retina_star-active', );
$retina-star-name: 'retina_star';
$retina-star-x: 43px;
$retina-star-y: 294px;
$retina-star-offset-x: -43px;
$retina-star-offset-y: -294px;
$retina-star-width: 35px;
$retina-star-height: 32px;
$retina-star-total-width: 380px;
$retina-star-total-height: 326px;
$retina-star-image: '~sprite@2x.png';
$retina-star: (43px, 294px, -43px, -294px, 35px, 32px, 380px, 326px, '~sprite@2x.png', 'retina_star', );
$retina-stripes-active-name: 'retina_stripes-active';
$retina-stripes-active-x: 116px;
$retina-stripes-active-y: 238px;
$retina-stripes-active-offset-x: -116px;
$retina-stripes-active-offset-y: -238px;
$retina-stripes-active-width: 50px;
$retina-stripes-active-height: 48px;
$retina-stripes-active-total-width: 380px;
$retina-stripes-active-total-height: 326px;
$retina-stripes-active-image: '~sprite@2x.png';
$retina-stripes-active: (116px, 238px, -116px, -238px, 50px, 48px, 380px, 326px, '~sprite@2x.png', 'retina_stripes-active', );
$retina-stripes-name: 'retina_stripes';
$retina-stripes-x: 264px;
$retina-stripes-y: 152px;
$retina-stripes-offset-x: -264px;
$retina-stripes-offset-y: -152px;
$retina-stripes-width: 50px;
$retina-stripes-height: 48px;
$retina-stripes-total-width: 380px;
$retina-stripes-total-height: 326px;
$retina-stripes-image: '~sprite@2x.png';
$retina-stripes: (264px, 152px, -264px, -152px, 50px, 48px, 380px, 326px, '~sprite@2x.png', 'retina_stripes', );
$retina-tiles-active-name: 'retina_tiles-active';
$retina-tiles-active-x: 0px;
$retina-tiles-active-y: 238px;
$retina-tiles-active-offset-x: 0px;
$retina-tiles-active-offset-y: -238px;
$retina-tiles-active-width: 50px;
$retina-tiles-active-height: 48px;
$retina-tiles-active-total-width: 380px;
$retina-tiles-active-total-height: 326px;
$retina-tiles-active-image: '~sprite@2x.png';
$retina-tiles-active: (0px, 238px, 0px, -238px, 50px, 48px, 380px, 326px, '~sprite@2x.png', 'retina_tiles-active', );
$retina-tiles-name: 'retina_tiles';
$retina-tiles-x: 58px;
$retina-tiles-y: 238px;
$retina-tiles-offset-x: -58px;
$retina-tiles-offset-y: -238px;
$retina-tiles-width: 50px;
$retina-tiles-height: 48px;
$retina-tiles-total-width: 380px;
$retina-tiles-total-height: 326px;
$retina-tiles-image: '~sprite@2x.png';
$retina-tiles: (58px, 238px, -58px, -238px, 50px, 48px, 380px, 326px, '~sprite@2x.png', 'retina_tiles', );
$retina-twitter-name: 'retina_twitter';
$retina-twitter-x: 176px;
$retina-twitter-y: 130px;
$retina-twitter-offset-x: -176px;
$retina-twitter-offset-y: -130px;
$retina-twitter-width: 78px;
$retina-twitter-height: 76px;
$retina-twitter-total-width: 380px;
$retina-twitter-total-height: 326px;
$retina-twitter-image: '~sprite@2x.png';
$retina-twitter: (176px, 130px, -176px, -130px, 78px, 76px, 380px, 326px, '~sprite@2x.png', 'retina_twitter', );
$retina-user-name: 'retina_user';
$retina-user-x: 350px;
$retina-user-y: 0px;
$retina-user-offset-x: -350px;
$retina-user-offset-y: 0px;
$retina-user-width: 30px;
$retina-user-height: 32px;
$retina-user-total-width: 380px;
$retina-user-total-height: 326px;
$retina-user-image: '~sprite@2x.png';
$retina-user: (350px, 0px, -350px, 0px, 30px, 32px, 380px, 326px, '~sprite@2x.png', 'retina_user', );
$spritesheet-width: 190px;
$spritesheet-height: 163px;
$spritesheet-image: '~sprite.png';
$spritesheet-sprites: ($arrow-down, $arrow-left, $arrow-right, $bronze, $facebook, $gold, $hamburger, $instagram, $medal-small, $medal, $search, $settings, $silver, $star-active, $star, $stripes-active, $stripes, $tiles-active, $tiles, $twitter, $user, );
$spritesheet: (190px, 163px, '~sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 380px;
$retina-spritesheet-height: 326px;
$retina-spritesheet-image: '~sprite@2x.png';
$retina-spritesheet-sprites: ($retina-arrow-down, $retina-arrow-left, $retina-arrow-right, $retina-bronze, $retina-facebook, $retina-gold, $retina-hamburger, $retina-instagram, $retina-medal-small, $retina-medal, $retina-search, $retina-settings, $retina-silver, $retina-star-active, $retina-star, $retina-stripes-active, $retina-stripes, $retina-tiles-active, $retina-tiles, $retina-twitter, $retina-user, );
$retina-spritesheet: (380px, 326px, '~sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$arrow-down-group-name: 'arrow-down';
$arrow-down-group: ('arrow-down', $arrow-down, $retina-arrow-down, );
$arrow-left-group-name: 'arrow-left';
$arrow-left-group: ('arrow-left', $arrow-left, $retina-arrow-left, );
$arrow-right-group-name: 'arrow-right';
$arrow-right-group: ('arrow-right', $arrow-right, $retina-arrow-right, );
$bronze-group-name: 'bronze';
$bronze-group: ('bronze', $bronze, $retina-bronze, );
$facebook-group-name: 'facebook';
$facebook-group: ('facebook', $facebook, $retina-facebook, );
$gold-group-name: 'gold';
$gold-group: ('gold', $gold, $retina-gold, );
$hamburger-group-name: 'hamburger';
$hamburger-group: ('hamburger', $hamburger, $retina-hamburger, );
$instagram-group-name: 'instagram';
$instagram-group: ('instagram', $instagram, $retina-instagram, );
$medal-small-group-name: 'medal-small';
$medal-small-group: ('medal-small', $medal-small, $retina-medal-small, );
$medal-group-name: 'medal';
$medal-group: ('medal', $medal, $retina-medal, );
$search-group-name: 'search';
$search-group: ('search', $search, $retina-search, );
$settings-group-name: 'settings';
$settings-group: ('settings', $settings, $retina-settings, );
$silver-group-name: 'silver';
$silver-group: ('silver', $silver, $retina-silver, );
$star-active-group-name: 'star-active';
$star-active-group: ('star-active', $star-active, $retina-star-active, );
$star-group-name: 'star';
$star-group: ('star', $star, $retina-star, );
$stripes-active-group-name: 'stripes-active';
$stripes-active-group: ('stripes-active', $stripes-active, $retina-stripes-active, );
$stripes-group-name: 'stripes';
$stripes-group: ('stripes', $stripes, $retina-stripes, );
$tiles-active-group-name: 'tiles-active';
$tiles-active-group: ('tiles-active', $tiles-active, $retina-tiles-active, );
$tiles-group-name: 'tiles';
$tiles-group: ('tiles', $tiles, $retina-tiles, );
$twitter-group-name: 'twitter';
$twitter-group: ('twitter', $twitter, $retina-twitter, );
$user-group-name: 'user';
$user-group: ('user', $user, $retina-user, );
$retina-groups: ($arrow-down-group, $arrow-left-group, $arrow-right-group, $bronze-group, $facebook-group, $gold-group, $hamburger-group, $instagram-group, $medal-small-group, $medal-group, $search-group, $settings-group, $silver-group, $star-active-group, $star-group, $stripes-active-group, $stripes-group, $tiles-active-group, $tiles-group, $twitter-group, $user-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
