// generated
@import "~sprite.scss";

// mixins
@import "components/mixins/mixins";

// custom bootstrap variables
@import "bootstrap/variables";

// vendor styles
@import "~bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-vue/dist/bootstrap-vue.css";
@import "../../node_modules/swiper/dist/css/swiper.css";
@import "~animate.css";
.rating {
    &__title {
      font-size: 12px;
      font-weight: 700;
    }
  
    &__list {
      display: flex;
      margin: 0 -2px;
      margin-top: 4px;
    }
  
    &__star {
      @include a-reset;
      display: block;
      padding: 0 2px;
  
      &::after {
        @include retina-sprite($star-active-group);
        content: '';
        display: block;
      }
    }



  // list not hover state + star active
  &__list:not(:hover) &__star._active ~ &__star::after {
    @include retina-sprite($star-group);
  }



  // star hover state
  &__star:hover ~ &__star::after {
    @include retina-sprite($star-group);
  }
}
  